/* -----------------------------------------------
				CSS Styles
--------------------------------------------------

    Project Name:Cristimiro | Personal Portfolio
    Author: Cristimiro Roberto
    Copyright: 2023

--------------------------------------------------

Table of Content

	01. Body and Core
  02. Header
	03. Home
	04. Project
	05. Contact
  06. Not-Found
	07. Preloader Page
  08. Footer
  09. Animations
----------------------------------- */
/* -----------------------------------
		01. Body and Core Css
----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@900&family=Barlow:wght@400;500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --title: #cbdcf1;
  --body: #94a3bd;
  --label: #64748b;
  --placeholder: #94a3b8;
  --line: #1b2a4d;
  --input: #19203b;
  --off-dark: #0f172a;
  --background: #141f38;
  --primary-dark: #4c1d95;
  --primary-normal: #7c3aed;
  --primary-light: #c4b5fd;
  --secondary-dark: #581c87;
  --secondary-normal: #7e22ce;
  --secondary-light: #a78bfa;
  --danger: #f43f5e;
  --warning: #ffbe0b;
  --success: #10b981;
  --shadow-card: 0px 0px 32px rgba(17, 17, 17, 0.24);
  --shadow-card-hover: 0px 0px 32px rgba(124, 58, 237, 0.32);
  --shadow-card-hover-s: 0px 0px 24px rgba(124, 58, 237, 0.24);
  --gradient-primary: radial-gradient(
    122.37% 80.39% at 73.06% 8.85%,
    #c4b5fd 0%,
    #4c1d95 46.88%,
    #7c3aed 88.02%
  );
  --gradient-secondary: linear-gradient(
    105.83deg,
    #581c87 31.27%,
    #7e22ce 64.07%,
    #a78bfa 106.84%,
    #652f9a 127.87%,
    #a78bfa 127.88%
  );
  --gradient-tertial: linear-gradient(
    270deg,
    #7c3aed -1.61%,
    rgba(124, 58, 237, 0.8) 20.62%,
    rgba(124, 58, 237, 0.6) 41.26%,
    rgba(124, 58, 237, 0.4) 57.89%,
    rgba(124, 58, 237, 0.2) 77.24%,
    rgba(124, 58, 237, 0.1) 99.31%
  );
  --blur-1: linear-gradient(180deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(180deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%);
  --blur-2: linear-gradient(360deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(360deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%),
    linear-gradient(360deg, #0f172a 0%, rgba(5, 6, 7, 0) 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--off-dark);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  padding-right: 4px;
  width: 10px;
  height: 4px !important;
  background: transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--background);
  border: 4px solid var(--background);
}

svg,
img {
  width: 100%;
  height: 100%;
}

/* -------------- Layout ----------------*/
.grid-1 {
  width: calc(8.3333333333% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-1 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-1 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-2 {
  width: calc(16.6666666667% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-2 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-2 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-3 {
  width: calc(25% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-3 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-3 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-4 {
  width: calc(33.3333333333% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-4 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-4 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-5 {
  width: calc(41.6666666667% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-5 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-5 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-6 {
  width: calc(50% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-6 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-6 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-7 {
  width: calc(58.3333333333% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-7 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-7 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-8 {
  width: calc(66.6666666667% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-8 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-8 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-9 {
  width: calc(75% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-9 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-9 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-10 {
  width: calc(83.3333333333% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-10 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-10 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-11 {
  width: calc(91.6666666667% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-11 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-11 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-12 {
  width: calc(100% - 32px);
  margin: 16px;
  float: left;
}
@media screen and (max-width: 884px) {
  .grid-12 {
    width: calc(50% - 32px);
  }
}
@media screen and (max-width: 620px) {
  .grid-12 {
    width: calc(100% - 32px);
    float: none;
  }
}

.grid-nobreak-1 {
  width: calc(8.3333333333% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-2 {
  width: calc(16.6666666667% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-3 {
  width: calc(25% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-4 {
  width: calc(33.3333333333% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-5 {
  width: calc(41.6666666667% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-6 {
  width: calc(50% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-7 {
  width: calc(58.3333333333% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-8 {
  width: calc(66.6666666667% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-9 {
  width: calc(75% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-10 {
  width: calc(83.3333333333% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-11 {
  width: calc(91.6666666667% - 32px);
  margin: 16px;
  float: left;
}

.grid-nobreak-12 {
  width: calc(100% - 32px);
  margin: 16px;
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 8%;
  overflow: hidden;
}
@media screen and (max-width: 884px) {
  .container {
    padding: 0 4%;
  }
}

main,
section {
  padding: 64px 0;
}
@media screen and (max-width: 884px) {
  main,
  section {
    padding: 48px 0;
  }
}
@media screen and (max-width: 620px) {
  main,
  section {
    padding: 32px 0;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline !important;
}

.d-none {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  display: flex;
  align-items: start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

/* -------------- Typography ----------------*/
h1 {
  color: var(--title);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 128px;
  font-weight: 800;
  line-height: 96%;
  text-transform: uppercase;
}
@media screen and (max-width: 884px) {
  h1 {
    font-size: 88px;
    line-height: 128%;
  }
}
@media screen and (max-width: 620px) {
  h1 {
    font-size: 54px;
    line-height: 128%;
  }
}

h2 {
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 104%;
}
@media screen and (max-width: 884px) {
  h2 {
    font-size: 48px;
    line-height: 112%;
  }
}
@media screen and (max-width: 620px) {
  h2 {
    font-size: 32px;
    line-height: 128%;
  }
}

h3 {
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 112%;
}
@media screen and (max-width: 884px) {
  h3 {
    font-size: 32px;
    line-height: 128%;
  }
}
@media screen and (max-width: 620px) {
  h3 {
    font-size: 24px;
    line-height: 132%;
  }
}

h4 {
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 128%;
}
@media screen and (max-width: 884px) {
  h4 {
    font-size: 24px;
    line-height: 132%;
  }
}

h5 {
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 132%;
}
@media screen and (max-width: 884px) {
  h5 {
    font-size: 18px;
    line-height: 144%;
  }
}

h6 {
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 144%;
}
@media screen and (max-width: 884px) {
  h6 {
    font-size: 16px;
    line-height: 152%;
  }
}

.p1 {
  color: var(--body);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
}
@media screen and (max-width: 884px) {
  .p1 {
    font-size: 16px;
    line-height: 152%;
  }
}

p {
  color: var(--body);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 152%;
}
@media screen and (max-width: 884px) {
  p {
    font-size: 14px;
    line-height: 152%;
  }
}

.p3 {
  color: var(--body);
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 152%;
}
a {
  display: inline-block;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 152%;
}
@media screen and (max-width: 884px) {
  a {
    font-size: 14px;
    line-height: 152%;
  }
}

button,
.btn {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
}
@media screen and (max-width: 884px) {
  button,
  .btn {
    font-size: 16px;
    line-height: 152%;
  }
}

input {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 152%;
}
@media screen and (max-width: 884px) {
  input {
    font-size: 14px;
    line-height: 152%;
  }
}

ul {
  list-style: none;
}

/* -------------- Spacing----------------*/
.s-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.m-1 {
  margin: 8px !important;
}

.m-2 {
  margin: 16px !important;
}

.m-3 {
  margin: 24px !important;
}

.m-4 {
  margin: 32px !important;
}

.m-5 {
  margin: 40px !important;
}

.m-6 {
  margin: 48px !important;
}

.m-7 {
  margin: 56px !important;
}

.m-8 {
  margin: 64px !important;
}

.m-9 {
  margin: 72px !important;
}

.m-10 {
  margin: 96px !important;
}

.m-11 {
  margin: 104px !important;
}

.m-12 {
  margin: 128px !important;
}

.mt-1 {
  margin-top: 8px !important;
}

.mt-2 {
  margin-top: 16px !important;
}

.mt-3 {
  margin-top: 24px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.mt-5 {
  margin-top: 40px !important;
}

.mt-6 {
  margin-top: 48px !important;
}

.mt-7 {
  margin-top: 56px !important;
}

.mt-8 {
  margin-top: 64px !important;
}

.mt-9 {
  margin-top: 72px !important;
}

.mt-10 {
  margin-top: 96px !important;
}

.mt-11 {
  margin-top: 104px !important;
}

.mt-12 {
  margin-top: 128px !important;
}

.ml-1 {
  margin-left: 8px !important;
}

.ml-2 {
  margin-left: 16px !important;
}

.ml-3 {
  margin-left: 24px !important;
}

.ml-4 {
  margin-left: 32px !important;
}

.ml-5 {
  margin-left: 40px !important;
}

.ml-6 {
  margin-left: 48px !important;
}

.ml-7 {
  margin-left: 56px !important;
}

.ml-8 {
  margin-left: 64px !important;
}

.ml-9 {
  margin-left: 72px !important;
}

.ml-10 {
  margin-left: 96px !important;
}

.ml-11 {
  margin-left: 104px !important;
}

.ml-12 {
  margin-left: 128px !important;
}

.mr-1 {
  margin-right: 8px !important;
}

.mr-2 {
  margin-right: 16px !important;
}

.mr-3 {
  margin-right: 24px !important;
}

.mr-4 {
  margin-right: 32px !important;
}

.mr-5 {
  margin-right: 40px !important;
}

.mr-6 {
  margin-right: 48px !important;
}

.mr-7 {
  margin-right: 56px !important;
}

.mr-8 {
  margin-right: 64px !important;
}

.mr-9 {
  margin-right: 72px !important;
}

.mr-10 {
  margin-right: 96px !important;
}

.mr-11 {
  margin-right: 104px !important;
}

.mr-12 {
  margin-right: 128px !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 40px !important;
}

.mb-6 {
  margin-bottom: 48px !important;
}

.mb-7 {
  margin-bottom: 56px !important;
}

.mb-8 {
  margin-bottom: 64px !important;
}

.mb-9 {
  margin-bottom: 72px !important;
}

.mb-10 {
  margin-bottom: 96px !important;
}

.mb-11 {
  margin-bottom: 104px !important;
}

.mb-12 {
  margin-bottom: 128px !important;
}

.mx-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.mx-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mx-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.mx-5 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.mx-6 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.mx-7 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}

.mx-8 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.mx-9 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}

.mx-10 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}

.mx-11 {
  margin-left: 104px !important;
  margin-right: 104px !important;
}

.mx-12 {
  margin-left: 128px !important;
  margin-right: 128px !important;
}

.my-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.my-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.my-5 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.my-6 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.my-7 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}

.my-8 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.my-9 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

.my-10 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

.my-11 {
  margin-top: 104px !important;
  margin-bottom: 104px !important;
}

.my-12 {
  margin-top: 128px !important;
  margin-bottom: 128px !important;
}

.p-1 {
  padding: 8px !important;
}

.p-2 {
  padding: 16px !important;
}

.p-3 {
  padding: 24px !important;
}

.p-4 {
  padding: 32px !important;
}

.p-5 {
  padding: 40px !important;
}

.p-6 {
  padding: 48px !important;
}

.p-7 {
  padding: 56px !important;
}

.p-8 {
  padding: 64px !important;
}

.p-9 {
  padding: 72px !important;
}

.p-10 {
  padding: 96px !important;
}

.p-11 {
  padding: 104px !important;
}

.p-12 {
  padding: 128px !important;
}

.pt-1 {
  padding-top: 8px !important;
}

.pt-2 {
  padding-top: 16px !important;
}

.pt-3 {
  padding-top: 24px !important;
}

.pt-4 {
  padding-top: 32px !important;
}

.pt-5 {
  padding-top: 40px !important;
}

.pt-6 {
  padding-top: 48px !important;
}

.pt-7 {
  padding-top: 56px !important;
}

.pt-8 {
  padding-top: 64px !important;
}

.pt-9 {
  padding-top: 72px !important;
}

.pt-10 {
  padding-top: 96px !important;
}

.pt-11 {
  padding-top: 104px !important;
}

.pt-12 {
  padding-top: 128px !important;
}

.pl-1 {
  padding-left: 8px !important;
}

.pl-2 {
  padding-left: 16px !important;
}

.pl-3 {
  padding-left: 24px !important;
}

.pl-4 {
  padding-left: 32px !important;
}

.pl-5 {
  padding-left: 40px !important;
}

.pl-6 {
  padding-left: 48px !important;
}

.pl-7 {
  padding-left: 56px !important;
}

.pl-8 {
  padding-left: 64px !important;
}

.pl-9 {
  padding-left: 72px !important;
}

.pl-10 {
  padding-left: 96px !important;
}

.pl-11 {
  padding-left: 104px !important;
}

.pl-12 {
  padding-left: 128px !important;
}

.pr-1 {
  padding-right: 8px !important;
}

.pr-2 {
  padding-right: 16px !important;
}

.pr-3 {
  padding-right: 24px !important;
}

.pr-4 {
  padding-right: 32px !important;
}

.pr-5 {
  padding-right: 40px !important;
}

.pr-6 {
  padding-right: 48px !important;
}

.pr-7 {
  padding-right: 56px !important;
}

.pr-8 {
  padding-right: 64px !important;
}

.pr-9 {
  padding-right: 72px !important;
}

.pr-10 {
  padding-right: 96px !important;
}

.pr-11 {
  padding-right: 104px !important;
}

.pr-12 {
  padding-right: 128px !important;
}

.pb-1 {
  padding-bottom: 8px !important;
}

.pb-2 {
  padding-bottom: 16px !important;
}

.pb-3 {
  padding-bottom: 24px !important;
}

.pb-4 {
  padding-bottom: 32px !important;
}

.pb-5 {
  padding-bottom: 40px !important;
}

.pb-6 {
  padding-bottom: 48px !important;
}

.pb-7 {
  padding-bottom: 56px !important;
}

.pb-8 {
  padding-bottom: 24px !important;
}

.pb-9 {
  padding-bottom: 32px !important;
}

.pb-10 {
  padding-bottom: 96px !important;
}

.pb-11 {
  padding-bottom: 104px !important;
}

.pb-12 {
  padding-bottom: 128px !important;
}

.px-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.px-5 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.px-6 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.px-7 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}

.px-8 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.px-9 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}

.px-10 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.px-11 {
  padding-left: 104px !important;
  padding-right: 104px !important;
}

.px-12 {
  padding-left: 128px !important;
  padding-right: 128px !important;
}

.py-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.py-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.py-5 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.py-6 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.py-7 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}

.py-8 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-9 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}

.py-10 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

.py-11 {
  padding-top: 104px !important;
  padding-bottom: 104px !important;
}

.py-12 {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

/* --------------- Buttons -----------------*/
button,
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: auto;
  height: auto;
  border: 0;
  border-radius: 16px;
  transition: 0.7s ease;
  outline: none;
  cursor: pointer;
}

.btn-sm {
  padding: 16px 32px;
}
@media screen and (max-width: 884px) {
  .btn-sm {
    padding: 14px 24px;
  }
}

.btn-md {
  padding: 16px 40px;
}
@media screen and (max-width: 884px) {
  .btn-md {
    padding: 14px 32px;
  }
}

.btn-primary {
  color: var(--white);
  background: var(--gradient-secondary);
}
.btn-primary:hover {
  box-shadow: 0px 4px 4px rgba(151, 71, 255, 0.09);
  opacity: 0.5;
}

.btn-outline-white {
  color: var(--title);
  border: 1px solid var(--title);
}
.btn-outline-white:hover {
  color: var(--off-white);
  background-color: var(--title);
}

.badge {
  color: var(--secondary-light);
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 152%;
  border-radius: 16px;
  border: 1px solid var(--secondary-light);
  padding: 8px 16px;
}

fieldset {
  border: 0;
}

@media screen and (max-width: 620px) {
  form {
    margin-top: 48px;
  }
}

input,
textarea {
  width: 100%;
  color: var(--body);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  border-radius: 16px;
  border: 1px solid var(--line);
  padding: 20px 24px;
  outline: none;
  background-color: transparent;
  transition: 0.7s ease;
  z-index: 999;
}
input:focus,
textarea:focus {
  border: 1px solid var(--primary-normal);
}

textarea {
  min-height: 180px;
  resize: none;
}

.form-control {
  position: relative;
  background-color: transparent;
}
.form-control:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (max-width: 884px) {
  .form-control:not(:last-child) {
    margin-bottom: 16px;
  }
}

label {
  display: block;
  position: absolute;
  top: 22px;
  left: 24px;
  color: var(--label);
  transition: 0.7s ease;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 152%;
  z-index: -1;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  transition: 0.7s ease;
  transform: translateY(-16px);
  font-size: 14px;
  line-height: 152%;
}
input:focus ~ label span,
textarea:focus ~ label span,
input:valid ~ label span,
textarea:valid ~ label span {
  display: none;
}

/* -----------------------------------
		02. Header
----------------------------------- */
.header-active {
  height: 72px !important;
  background: rgba(20, 31, 56, 0.3);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  transition: 0.7s ease;
}

header.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  z-index: 99;
  transition: 0.7s ease;
}
header.header-menu a.logo {
  max-width: 56px;
  max-height: 56px;
}
@media screen and (max-width: 884px) {
  header.header-menu {
    height: 72px;
  }
  header.header-menu a.logo {
    width: 40px;
    height: 40px;
  }
}

.menu-desktop {
  -moz-column-gap: 72px;
       column-gap: 72px;
}
.menu-desktop a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--title);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  padding: 24px;
  transition: 0.7s ease;
}
.menu-desktop a::before {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0;
  margin-left: -24px;
  content: "";
  border-radius: 50%;
  background-color: var(--primary-normal);
  transition: 0.7s ease;
}
.menu-desktop a:hover {
  color: var(--secondary-light);
}
.menu-desktop a:hover::before {
  margin-left: 8px;
}
@media screen and (max-width: 884px) {
  .menu-desktop {
    display: none;
  }
}

/* ----------------- Nav Mobile -------------------*/
.menu-mobile-active {
  transition: 0.7s ease;
  left: 0 !important;
}

.menu-mobile {
  display: none;
  position: fixed;
  top: 72px;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(20, 31, 56, 0.5);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  padding: 0 4%;
  transition: 0.7s ease;
  z-index: 99;
}
.menu-mobile li {
  border-bottom: 1px solid var(--line);
}
.menu-mobile li a {
  width: 100%;
  height: 100%;
  color: var(--title);
  padding: 24px 16px 24px 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  transition: 1s ease;
}
.menu-mobile li a:hover {
  background: rgba(6, 9, 15, 0.1);
  padding: 24px 16px 24px 24px;
}
@media screen and (max-width: 884px) {
  .menu-mobile {
    display: block;
  }
}

/* ---------------- Box Hamburger -----------------*/
.menu-hamburger {
  display: none;
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.menu-hamburger::after, .menu-hamburger::before {
  display: block;
  position: absolute;
  height: 2px;
  content: "";
  border-radius: 4px;
  background-color: var(--title);
  transition: 0.7s ease;
  transform: translate(-50%, -50%);
}
.menu-hamburger::after {
  top: 35%;
  left: 40%;
  width: 70%;
}
.menu-hamburger::before {
  top: 50%;
  left: 60%;
  width: 65%;
}
.menu-hamburger:hover::after, .menu-hamburger:hover::before {
  background-color: var(--primary-normal);
}
@media screen and (max-width: 884px) {
  .menu-hamburger {
    display: block;
  }
}

.menu-hamburger-active::after {
  top: 50%;
  left: 50%;
  width: 70%;
  transition: 1s ease;
  transform: translate(-50%, -50%) rotate(135deg);
}
.menu-hamburger-active::before {
  top: 50%;
  left: 50%;
  transition: 1s ease;
  width: 65%;
  transform: translate(-50%, -50%) rotate(-315deg);
}

/* -----------------------------------
		03. Home
----------------------------------- */
.social-media-links ul {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.social-media-links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  transition: 0.7s ease;
}
.social-media-links ul li a svg {
  transition: 0.7s ease;
  width: 24px;
  height: 24px;
}
.social-media-links ul li a:hover svg {
  stroke: var(--primary-dark);
  transform: scale(1.2);
}

.title-section {
  margin-bottom: 72px;
}
.title-section h4 {
  display: inline-block;
  position: relative;
}
.title-section h4::before {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  margin-top: 16px;
  background: var(--gradient-tertial);
}
@media screen and (max-width: 884px) {
  .title-section {
    margin-bottom: 56px;
  }
}

.card {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 16px;
  border: 2px solid var(--line);
  padding: 72px 16px 32px 16px;
  transition: 0.7s ease;
  cursor: pointer;
}
.card .icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--line);
  background-color: var(--background);
  transition: 0.7s ease;
}
.card .icon-card svg {
  width: 20px;
  height: 20px;
}
.card .panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.card .blur-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 104px;
  height: 104px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(96px);
  opacity: 0;
  transition: 0.7s ease;
}
.card:hover {
  border-radius: 0px;
  -o-border-image: var(--gradient-tertial) 1;
     border-image: var(--gradient-tertial) 1;
  transform: translate3d(0, -8px, 0);
}
.card:hover .icon-card {
  border: 1px solid var(--primary-dark);
}
.card:hover .icon-card svg {
  stroke: var(--primary-dark) !important;
  stroke-width: 1;
}
.card:hover .blur-card {
  opacity: 1;
}

.blur-page-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(340px);
  z-index: -1;
}
@media screen and (max-width: 884px) {
  .blur-page-1 {
    filter: blur(200px);
    width: 128px;
    height: 128px;
  }
}

.blur-page-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(340px);
  z-index: -1;
}
@media screen and (max-width: 884px) {
  .blur-page-2 {
    filter: blur(200px);
    width: 128px;
    height: 128px;
  }
}

/* ------------- Hero --------------*/
.hero {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid var(--off-dark);
  background-image: url("./../svg/star-hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 352px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(300px);
}
.hero .inner-text {
  margin-top: 128px;
}
.hero .inner-text h1 {
  color: var(--title);
  position: relative;
  display: inline-block;
}
.hero .inner-text h1::before {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  margin-top: 32px;
  border-radius: 8px;
  background: var(--gradient-tertial);
  transition: 0.7s ease;
}
.hero .inner-text ul.stack {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.hero .inner-text ul.stack li {
  position: relative;
  color: var(--body);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
  margin-left: 24px;
}
.hero .inner-text ul.stack li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  content: "";
  border-radius: 50%;
  background-color: var(--body);
  margin-left: -24px;
}
.hero .globe svg {
  width: 140%;
  height: 140%;
}
@media screen and (max-width: 884px) {
  .hero .globe svg {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 884px) {
  .hero .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .inner-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 152px;
    text-align: center;
  }
  .hero .globe {
    padding-top: 24px;
  }
}
@media screen and (max-width: 620px) {
  .hero .inner-text {
    margin-top: 128px;
  }
  .hero .inner-text h1 {
    margin-bottom: 40px !important;
  }
  .hero .inner-text h1::before {
    margin-top: 8px;
  }
  .hero .inner-text .stack {
    row-gap: 16px;
    flex-direction: column;
    align-items: start;
  }
  .hero .inner-text .stack li span:nth-child(3) {
    display: none;
  }
  .hero .inner-text .social-media-links {
    margin-top: 48px !important;
  }
  .hero .globe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ----------- Portfolio -----------*/
.portfolio .card-portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 24px;
  background-color: var(--background);
  transition: 0.7s ease;
  cursor: pointer;
}
.portfolio .card-portfolio:hover figure img {
  transform: scale(1.1);
}
.portfolio .card-portfolio figure {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.portfolio .card-portfolio figure img {
  transition: 0.7s ease;
  border-radius: 16px;
  transform: scale(1);
}
.portfolio .card-portfolio .card-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 24px;
  background: rgba(15, 23, 42, 0.5);
  opacity: 0;
  transition: 1s ease;
}
@media screen and (max-width: 884px) {
  .portfolio .card-portfolio .card-overlay {
    border-radius: 8px;
    padding: 0;
  }
}
.portfolio .card-portfolio .card-overlay .div {
  margin-right: 0 !important;
}
.portfolio .card-portfolio .card-overlay .indicator {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--line);
  background-color: var(--primary-normal);
  cursor: pointer;
}
.portfolio .card-portfolio .card-overlay .indicator:hover {
  background-color: var(--primary-dark);
  transition: 0.7s ease;
}
@media screen and (max-width: 884px) {
  .portfolio .card-portfolio .card-overlay .indicator {
    display: none;
  }
}
.portfolio .card-portfolio .card-overlay .card-caption {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 48px 24px 32px 24px;
  background-color: var(--input);
}
@media screen and (max-width: 884px) {
  .portfolio .card-portfolio .card-overlay .card-caption {
    padding: 32px 16px 16px 16px;
  }
}
.portfolio .card-portfolio .card-overlay .card-caption a.title {
  width: 100%;
  color: var(--title);
  transition: 0.7s ease;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 132%;
}
.portfolio .card-portfolio .card-overlay .card-caption a.title:hover {
  color: var(--secondary-light);
}
.portfolio .card-portfolio:hover .card-overlay {
  opacity: 1;
}
.portfolio .card-portfolio:hover {
  transform: translateY(-16px);
}

/* ----------- about  -------------*/
.check .check-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--primary-normal);
}
.check .check-circle img {
  width: 12px;
  height: 12px;
}
.check .check-text {
  color: var(--title);
}

.picture {
  padding-left: 40px;
}
@media screen and (max-width: 884px) {
  .picture {
    padding-left: 0;
  }
}

.blur-1,
.blur-2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 20;
}
@media screen and (max-width: 884px) {
  .blur-1,
  .blur-2 {
    height: 44px;
  }
}

.blur-1 {
  top: 0;
  background: var(--blur-1);
}

.blur-2 {
  bottom: 0;
  background: var(--blur-2);
}

.grayscale {
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.7s ease;
}

.grayscale:hover {
  filter: grayscale(0%);
}

.images-1,
.images-2 {
  max-height: 620px;
  overflow-y: hidden;
}
.images-1 img,
.images-2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media screen and (max-width: 884px) {
  .images-1,
  .images-2 {
    max-height: 520px;
  }
}
@media screen and (max-width: 620px) {
  .images-1,
  .images-2 {
    max-height: 420px;
  }
}

/* -------- Skill Section ----------*/
.skill {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.skill-1 {
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.skill-2 {
  margin-top: 24px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.skill-box {
  width: auto;
  height: auto;
  border-radius: 16px;
  padding: 16px 32px;
  background-color: var(--background);
}
.skill-box svg {
  width: 32px;
  height: 32px;
}
.skill-box p {
  white-space: nowrap !important;
}
@media screen and (max-width: 884px) {
  .skill-box {
    text-align: center;
    padding: 12px 16px;
  }
}

/* ------- Call-to-action ---------*/
.call-to-action .wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 884px) {
  .call-to-action .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.call-to-action .wrapper .rocket {
  overflow: hidden;
  position: relative;
  right: -56px;
  width: auto;
  min-width: 312px;
  height: auto;
  border: 2px solid var(--line);
  border-radius: 16px;
  padding: 32px;
  background-color: var(--background);
  background-image: url("./../svg/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 99;
}
.call-to-action .wrapper .rocket svg {
  width: 100%;
  height: auto;
}
.call-to-action .wrapper .rocket::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 88px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(76px);
}
.call-to-action .wrapper .rocket::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 96px;
  height: 72px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(64px);
}
@media screen and (max-width: 884px) {
  .call-to-action .wrapper .rocket {
    right: 0;
    bottom: -72px;
  }
}
@media screen and (max-width: 620px) {
  .call-to-action .wrapper .rocket {
    width: auto;
    min-width: auto;
    max-width: 70%;
  }
}
.call-to-action .wrapper .content-box {
  overflow: hidden;
  position: relative;
  max-width: 758px;
  width: auto;
  height: auto;
  padding: 56px 56px 56px 128px;
  border-radius: 16px;
  background-color: var(--background);
  background-image: url("./../svg/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 884px) {
  .call-to-action .wrapper .content-box {
    height: auto;
    max-height: 100%;
    padding: 96px 32px 32px 32px;
  }
}
.call-to-action .wrapper .content-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 148px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(146px);
}
.call-to-action .wrapper .content-box::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 226px;
  height: 200px;
  content: "";
  background-color: var(--primary-normal);
  filter: blur(180px);
}

/* -----------------------------------
	04. Project
----------------------------------- */
.post {
  margin-top: 48px;
}
.post .title-section {
  margin-bottom: 48px !important;
}
@media screen and (max-width: 884px) {
  .post .title-section {
    margin-bottom: 32px !important;
  }
}
.post .content {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}
.post .content .extra-info .flex {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--secondary-light);
  padding: 16px;
}
.post .content .extra-info .flex span {
  color: var(--secondary-light);
}
.post .content .extra-info .flex a {
  color: var(--primary-light);
  text-decoration: underline;
  transition: 0.7s ease;
}
.post .content .extra-info .flex a:hover {
  color: var(--secondary-normal);
}
@media screen and (max-width: 884px) {
  .post .content {
    margin-top: 32px !important;
  }
}

.sliders {
  max-width: 864px;
  height: auto;
  border-radius: 16px;
  margin: 0 auto;
}
@media screen and (max-width: 884px) {
  .sliders {
    width: 100%;
  }
}
.sliders img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

/* --------------------------------------------------
                    02. Contact
-------------------------------------------------- */
.contact .info-contact .icon-box {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  border: 1px solid var(--primary-dark);
  background-color: var(--input);
}
.contact .info-contact .icon-box svg {
  width: 20px;
  height: auto;
}
@media screen and (max-width: 884px) {
  .contact .info-contact .icon-box {
    width: 48px;
    height: 48px;
  }
  .contact .info-contact .icon-box svg {
    width: 16px;
    height: auto;
  }
}
.contact .info-contact p {
  color: var(--title);
}
@media screen and (max-width: 884px) {
  .contact {
    margin-top: 32px;
  }
}

/* -----------------------------------
		06. Not-Found
----------------------------------- */
.notFound {
  width: 100%;
  height: calc(100vh - 80px);
}
.notFound .content {
  text-align: center;
}
.notFound .content h1 {
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 152px;
}
@media screen and (max-width: 884px) {
  .notFound .content h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 128px;
    font-weight: 800;
    line-height: 96%;
    text-transform: uppercase;
  }
}
.notFound .content h5 {
  max-width: 360px;
}

/* -----------------------------------
	07. Preloader Page
----------------------------------- */
/* --------------- Screen Loader-----------------*/
section.screen-loading {
  width: 100%;
  height: 100vh;
}

.loader {
  position: relative;
  width: 20vw;
  height: 20vw;
  background: linear-gradient(#4c1d95, #7c3aed, #c4b5fd);
  border-radius: 50%;
  animation: spin 1s linear 10s infinite;
}
@media screen and (max-width: 884px) {
  .loader {
    width: 40vw;
    height: 40vw;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#4c1d95, #7c3aed, #8366f4);
  border-radius: 50%;
  animation: load 20s ease;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(30px);
}

.loader span:nth-child(4) {
  filter: blur(60px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: #1e293b;
  border-radius: 50%;
}

.logo2 {
  position: absolute;
  width: 20%;
  height: 20%;
  animation: logo 10s ease;
}

.line {
  fill-opacity: 0;
  stroke-width: 2;
  stroke-dasharray: 1 1000;
  animation: logo 10s ease 0s forwards;
}

@keyframes logo2 {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 150;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  30% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 2;
    opacity: 1;
  }
  60%, 90% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 4;
    opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 8;
    opacity: 1;
  }
}
/* --------------------------------------------------
                  02. Footer
-------------------------------------------------- */
footer {
  width: 100%;
  height: auto;
  padding: 24px 0;
  border-top: 1px solid var(--line);
}
footer svg {
  width: 24px;
  height: auto;
}
@media screen and (max-width: 884px) {
  footer .container {
    flex-direction: column;
    row-gap: 16px;
  }
}

/* -----------------------------------
		09. Animations
----------------------------------- */
/* ---------------- Hero Section ------------------*/
.ball-1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: glob 100s linear infinite;
}

.ball-2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: glob 300s linear infinite;
}

.glob {
  transform-origin: center center;
  transform-box: fill-box;
  animation: glob 50s linear infinite;
}

@keyframes glob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------ Skill  -------------*/
.skill-1 {
  animation: skill-1 5s ease infinite alternate;
}

.skill-2 {
  animation: skill-2 10s ease infinite alternate;
}

@keyframes skill-1 {
  0% {
    transform: translate3d(-240px, 0, 0);
  }
  100% {
    transform: translate3d(240, 0, 0);
  }
}
@keyframes skill-2 {
  0% {
    transform: translate3d(128px, 0, 0);
  }
  100% {
    transform: translate3d(-128px, 0, 0);
  }
}
/* ---------- about Section ------------*/
.images-1 img {
  animation: images-1 10s ease infinite alternate;
}

.images-2 img {
  animation: images-2 20s ease infinite alternate;
}

@keyframes images-1 {
  0% {
    transform: translate3d(0, -240px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes images-2 {
  0% {
    transform: translate3d(0, -328px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* ------------ CTA  -------------*/
.Vector {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rocket 4s ease infinite alternate;
}

@keyframes rocket {
  0% {
    transform: translate3d(0, 4px, 0);
  }
  100% {
    transform: translate3d(0, -32px, 0);
  }
}/*# sourceMappingURL=style.css.map */