/* -----------------------------------
			05. Contact
----------------------------------- */

.contact {
  .info-contact {
    .icon-box {
      width: 56px;
      height: 56px;
      border-radius: 16px;
      border: 1px solid var(--primary-dark);
      background-color: var(--input);
      svg {
        width: 20px;
        height: auto;
      }
      @include responsive(s) {
        width: 48px;
        height: 48px;
        svg {
          width: 16px;
          height: auto;
        }
      }
    }
    p {
      color: var(--title);
    }
  }
  @include responsive(s) {
    margin-top: 32px;
  }
}
