/* -----------------------------------
			02. Header
----------------------------------- */
.border {
  border: 1px solid red;
}
.social-media-links {
  ul {
    column-gap: 16px;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        transition: 0.7s ease;
        svg {
          transition: 0.7s ease;
          width: 24px;
          height: 24px;
        }
        &:hover {
          svg {
            stroke: var(--primary-dark);
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
.title-section {
  margin-top: 18px;
  margin-bottom: 72px;
  h4 {
    display: inline-block;
    position: relative;
    &::before {
      position: absolute;
      top: 100%;
      left: 0%;
      width: 100%;
      height: 1px;
      content: '';
      margin-top: 16px;
      background: var(--gradient-tertial);
    }
  }
  @include responsive(s) {
    margin-top: 16px;
    margin-bottom: 56px;
  }
}
.card {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 16px;
  border: 2px solid var(--line);
  padding: 72px 16px 32px 16px;
  transition: 0.7s ease;
  cursor: pointer;
  .icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--line);
    background-color: var(--background);
    transition: 0.7s ease;
    svg {
      width: 20px;
      height: 20px;
      margin-top: 4px;
    }
  }
  .panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .blur-card {
    position: absolute;
    width: 104px;
    height: 104px;
    content: '';
    background-color: var(--primary-normal);
    filter: blur(96px);
    opacity: 0;
    transition: 0.7s ease;
  }
  &:hover {
    border-radius: 0px;
    border-image: var(--gradient-tertial) 1;
    transform: translate3d(0, -8px, 0);
    .icon-card {
      border: 2px solid var(--primary-dark);
    }
    .blur-card {
      opacity: 1;
    }
  }
}
.blur-page-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  content: '';
  background-color: var(--primary-normal);
  filter: blur(340px);
  z-index: -1;
  @include responsive(s) {
    filter: blur(200px);
    width: 128px;
    height: 128px;
  }
}
.blur-page-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  content: '';
  background-color: var(--primary-normal);
  filter: blur(340px);
  z-index: -1;
  @include responsive(s) {
    filter: blur(200px);
    width: 128px;
    height: 128px;
  }
}
/* ------------- Hero --------------*/
.hero {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid var(--off-dark);
  background-image: url('./../svg/star-hero.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 352px;
    height: 352px;
    content: '';
    background-color: var(--primary-normal);
    filter: blur(300px);
  }
  .inner-text {
    margin-top: 128px;
    h1 {
      color: var(--title);
      position: relative;
      display: inline-block;
      &::before {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 1px;
        content: '';
        margin-top: 32px;
        border-radius: 8px;
        background: var(--gradient-tertial);
        transition: 0.7s ease;
      }
    }
    ul.stack {
      column-gap: 40px;
      li {
        position: relative;
        color: var(--body);
        @include typeface-2(p1, desktop);
        margin-left: 24px;
        &::before {
          position: absolute;
          width: 6px;
          height: 6px;
          content: '';
          border-radius: 50%;
          background-color: var(--body);
          margin-left: -24px;
        }
      }
    }
  }

  .globe {
    svg {
      width: 140%;
      height: 140%;
      @include responsive(s) {
        width: 100%;
        height: 100%;
      }
    }
  }
  @include responsive(s) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .inner-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 152px;
      text-align: center;
    }
    .globe {
      padding-top: 24px;
    }
  }
  @include responsive(xs) {
    .inner-text {
      margin-top: 128px;
      h1 {
        margin-bottom: 40px !important;
        &::before {
          margin-top: 8px;
        }
      }
      .stack {
        row-gap: 16px;
        flex-direction: column;
        align-items: start;
        li {
          span {
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .social-media-links {
        margin-top: 48px !important;
      }
    }
    .globe {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
/* ----------- about  -------------*/

.check {
  .check-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--primary-normal);

    img {
      width: 12px;
      height: 12px;
    }
  }
  .check-text {
    color: var(--title);
  }
}
.picture {
  padding-left: 40px;
  @include responsive(s) {
    padding-left: 0;
  }
}

.blur-1,
.blur-2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 20;
  @include responsive(s) {
    height: 44px;
  }
}

.blur-1 {
  top: 0;
  background: var(--blur-1);
}

.blur-2 {
  bottom: 0;
  background: var(--blur-2);
}

.grayscale {
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.7s ease;
}

.grayscale:hover {
  filter: grayscale(0%);
}
.images-1,
.images-2 {
  max-height: 620px;
  overflow-y: hidden;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  @include responsive(s) {
    max-height: 520px;
  }
  @include responsive(xs) {
    max-height: 420px;
  }
}
/* -------- Skill Section ----------*/

.skill {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}
.skill-1 {
  column-gap: 32px;
}

.skill-2 {
  margin-top: 24px;
  column-gap: 32px;
}
.skill-box {
  width: auto;
  height: auto;
  border-radius: 16px;
  padding: 16px 32px;
  background-color: var(--background);

  svg {
    width: 32px;
    height: 32px;
  }
  p {
    white-space: nowrap !important;
  }
  @include responsive(s) {
    text-align: center;
    padding: 12px 16px;
  }
}

/* ------- Call-to-action ---------*/

.call-to-action {
  .wrapper {
    display: flex;
    align-items: center;
    @include responsive(s) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .rocket {
      overflow: hidden;
      position: relative;
      right: -56px;
      width: auto;
      min-width: 312px;
      height: auto;
      border: 2px solid var(--line);
      border-radius: 16px;
      padding: 32px;
      background-color: var(--background);
      background-image: url('./../svg/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: 99;
      svg {
        width: 100%;
        height: auto;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 72px;
        height: 88px;
        content: '';
        background-color: var(--primary-normal);
        filter: blur(76px);
      }

      &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 96px;
        height: 72px;
        content: '';
        background-color: var(--primary-normal);
        filter: blur(64px);
      }
      @include responsive(s) {
        right: 0;
        bottom: -72px;
      }
      @include responsive(xs) {
        width: auto;
        min-width: auto;
        max-width: 70%;
      }
    }
    .content-box {
      overflow: hidden;
      position: relative;
      max-width: 758px;
      width: auto;
      height: auto;
      padding: 56px 56px 56px 128px;
      border-radius: 16px;
      background-color: var(--background);
      background-image: url('./../svg/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include responsive(s) {
        height: auto;
        max-height: 100%;
        padding: 96px 32px 32px 32px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 148px;
        height: 148px;
        content: '';
        background-color: var(--primary-normal);
        filter: blur(146px);
      }
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 226px;
        height: 200px;
        content: '';
        background-color: var(--primary-normal);
        filter: blur(180px);
      }
    }
  }
}
