/* -----------------------------------
		06. Not-Found
----------------------------------- */
.notFound {
  width: 100%;
  height: calc(100vh - 80px);
  .content {
    text-align: center;
    h1 {
      background-image: var(--gradient-primary);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 152px;
      @include responsive(s) {
        @include typeface-1(h1, desktop);
      }
    }
    h5 {
      max-width: 360px;
    }
  }
}
